<div
  class="md:h-16 h-24 w-full bg-gray-900 flex md:items-center items-start px-3 py-3 fixed inset-0 z-50"
>
  <div class="w-full h-full flex md:items-center items-start gap-6">
    <a
      class="fa-solid fa-bars text-3xl text-white md:hidden"
      (click)="onClick(onTrue)"
    ></a>
    <p class="text-red-600 text-2xl font-bold">
      <span class="text-3xl">N</span>et<span class="text-3xl">P</span>rime
    </p>
    <div
      class="relative w-fit h-fit text-white max-md:absolute max-md:top-[52px] max-md:left-2"
    >
      <form (ngSubmit)="onSubmit(formData)" #formData="ngForm">
        <input
          type="text"
          name="searchValue"
          class="h-10 w-96 rounded-full bg-gray-900 border border-gray-700 shadow pl-10"
          [(ngModel)]="search"
          ngModel
          placeholder="Search the movie here..."
        />
        <i class="fa-solid fa-magnifying-glass absolute top-3 left-3"></i>
        <div class="absolute top-2 right-3">
          <button type="submit" [routerLink]="['/search', search]">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"
              />
            </svg>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="flex gap-3 text-2xl text-white items-center">
    <a href="#" class="fa-solid fa-comment-dots"></a>
    <a href="#" class="fa-solid fa-bell"></a>
    <a href="#" class="fa-solid fa-circle-user" routerLink="/login"></a>
    <!-- <img
      src="{{ imageValue.value.image }}"
      class="w-8 h-8 rounded-full object-cover"
    />

    <img
      src="https://api.dicebear.com/6.x/initials/svg?seed=shahil"
      class="md:w-10 w-5 rounded-full"
      routerLink="/login"
      alt="avatar"
    /> -->
  </div>
</div>
