<div
  class="w-full h-full bg-gray-800 md:bg-gray-900 px-2 md:mt-16"
  (click)="onSidebar(onSide)"
>
  <p class="text-purple-600 text-xl px-10 py-4">News Feed</p>
  <div
    class="flex flex-col text-xl text-gray-100 md:h-52 h-48 border-b items-center"
  >
    <div
      class="flex h-12 w-44 items-center gap-4 justify-start cursor-pointer"
      routerLink="/"
    >
      <a href="#" class="fa-solid fa-globe"></a>
      <p>Home</p>
    </div>
    <div class="flex h-12 w-44 items-center justify-start gap-3 cursor-pointer">
      <a href="#" class="fa-solid fa-heart"></a>
      <p>Watchlist</p>
    </div>
    <button
      class="flex h-12 w-44 items-center justify-start gap-3 whitespace-nowrap cursor-pointer"
      (click)="onUpcoming()"
      [routerLink]="['/details', 'movie', '123']"
    >
      <a class="fa-regular fa-calendar-days"></a>
      <p>Coming Soon</p>
    </button>
  </div>
  <p class="text-purple-600 text-xl px-10 py-4">Following</p>
  <div
    class="flex flex-col md:gap-4 text-white text-xl items-start pl-6 md:h-[31rem] h-56 overflow-auto"
  >
    <div *ngFor="let user of users | async">
      <div
        class="flex h-12 w-44 items-center justify-start md:gap-4 gap-2 cursor-pointer"
      >
        <img
          src="https://api.dicebear.com/6.x/initials/svg?seed={{
            user.firstName
          }}"
          class="w-10 rounded-full"
          alt="avatar"
        />
        <p>{{ user.firstName }}</p>
      </div>
    </div>
    <div
      class="flex w-fit h-fit justify-center items-center gap-2 pt-2 md:pt-0 cursor-pointer"
    >
      <div
        class="w-[24px] h-[24px] bg-purple-600 rounded-full flex items-center justify-center pt-1"
      >
        <i class="fa-solid fa-angle-down"></i>
      </div>
      <p>Load More</p>
    </div>
  </div>

  <div
    class="flex h-fit w-fit items-center justify-center text-white text-xl gap-2 md:pt-8 pt-6 pl-4 cursor-pointer"
  >
    <i class="fa-solid fa-arrow-right-from-bracket"></i>
    <p>Log Out</p>
  </div>
</div>
