<div
  class="mainContainer md:w-[calc(100vw-15rem)] md:h-[calc(100vh-4rem)] w-screen md:gap-6 gap-3 flex md:p-16 p-4 bg-gray-950 flex-wrap overflow-auto mt-16"
>
  <div *ngFor="let movie of $search | async as searchValue">
    <div
      [routerLink]="['/details', 'movie', movie.id]"
      class="md:w-72 w-[calc(100vw-2rem)] aspect-[3.5/4] overflow-hidden rounded-xl flex flex-col"
    >
      <img
        *ngIf="movie.poster_path"
        src="{{ imageUrl }}/{{ movie.poster_path }}"
        class="w-full h-[60%] object-cover"
      />
      <img
        *ngIf="movie.poster_path === null"
        src="https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        class="w-full h-[60%] object-covertr"
      />
      <div
        class="rounded-lg h-[40%] p-2 bg-gradient-to-r from-indigo-800 via-gray-900 to-gray-900 flex flex-col shadow-2xl"
      >
        <div>
          <h5
            class="h-12 overflow-hidden text-2xl font-bold leading-none text-white text-ellipsis"
          >
            {{ movie.title }}
          </h5>
          <span class="text-xs leading-none text-gray-400"
            >Rating-{{ movie.popularity }}</span
          >
        </div>
        <div class="flex items-center justify-between w-full">
          <div class="text-lg font-light text-white">
            {{ movie.release_date }}
          </div>
          <div class="relative font-bold text-white">
            <!-- <p class="absolute top-3 right-2">
              {{ math.floor(movie.vote_average * 10) }}%
            </p> -->
            <svg
              class="rotate-[-90deg]"
              width="47px"
              height="47px"
              viewBox="0 0 100 100"
            >
              <circle
                cx="52.5"
                cy="52.5"
                r="50"
                fill="transparent"
                [attr.stroke-dasharray]="314"
                stroke-width="9"
                class="scale-[0.95]"
              />
              <circle
                cx="52.5"
                cy="52.5"
                r="50"
                fill="transparent"
                [attr.stroke-dashoffset]="
                  3.14 * (100 - movie.vote_average * 10)
                "
                [attr.stroke-dasharray]="314"
                stroke-width="9"
                stroke-linecap="round"
                class="scale-[0.95]"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
